* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #d1f9ff;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.container {
	max-width: 95%;
	width: 100%;
	background: #ffffff;
	overflow: hidden;
    margin-top: 10px;
    border-radius: 10px;
}

.toolbar {
	padding: 16px;
	background: #b4b3b3;
    border-radius: 10px;
}

.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 15px;
    justify-content: center;
}
.toolbar .btn-toolbar button {
	background: #d7d6d6;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.toolbar .btn-toolbar .color {
	background: #d7d6d6;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}

.toolbar .btn-toolbar .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #d7d6d6;
	cursor: pointer;
}

.toolbar .btn-toolbar button:hover {
	background: #f3f3f3;
}

#content {
	padding: 16px;
	outline: none;
	max-height: 75vh;
	overflow: auto;
	min-height: 300px;
	box-shadow: black;
}